.main-nav {
  background: #2B50AA;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  gap: 400px;
  padding: 50px 20px;
  margin-bottom: 40px;
}
.main-nav a {
  color: #F7DE1C;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s;
}
.main-nav a:hover {
  color: #fff;
}
/* Стиль для страницы мероприятий */
.events-page {
    background-color: #F7DE1C;
    min-height: 100vh; /* Чтобы фон был на всю высоту экрана */
}
.shop-page,
.index-page {
    background-color: #2B50AA;
    min-height: 100vh; /* Чтобы фон был на всю высоту экрана */
}

.shop-page {
    background-color: #2B50AA;
    min-height: 100vh; /* Чтобы фон был на всю высоту экрана */
}
.about-page {
    background-color: #05C1F1;
    min-height: 100vh; /* Чтобы фон был на всю высоту экрана */
}